* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

body {
    width: 100%;
    height: auto;
}

h1 {
    line-height: 5;
    color: black;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-evenly;
}